<h2>{{car.name}} Details</h2>

  <div>
    <span>id: </span>{{car.id}}</div>
  <div>
    <label>Make:
      <input [(ngModel)]="car.make" placeholder="Make">
    </label>
  </div>

  <div>
    <label>Model:
      <input [(ngModel)]="car.name" placeholder="Model">
    </label>
  </div>

  <div>
    <label>Wheels:
      <input [(ngModel)]="car.wheels" placeholder="Wheels">
    </label>
  </div>

  <div>
    <label>Type:
      <input [(ngModel)]="car.type" placeholder="Type">
    </label>
  </div>

  <button  [disabled]="!isValidForm()" (click)="add()">Add</button>  
  <button (click)="goBack()">Back</button>